@media screen and (min-width: 1199px) {
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #262444;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #262444;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 100vh !important;
   background: url(Imagen5.png) no-repeat center;
    background-size: cover; 
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}



.content {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.reg {
    padding: 30px;
    background: #16152e;
}
.content h3 {
    margin-bottom: 40px;
    font-size: 28px;
    color: rgb(173, 168, 168);
    padding: 0 100px;
}











.content {
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #262444;
}

.contenido-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container img {
    margin-left: auto;
    margin-right: 50px;
    max-width: 50%;
    object-fit: cover;
}

.container .content {
    max-width: 100%;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.container p {
    font-size: 1.2em;
}

.mi-footer {
    background-color: #262444;
  }
  





.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}


.container h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.container p {
    font-size: 1.2em;
}


.box-container .box {
    height: 0rem;
    width: 9rem;
    background: #262444;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .0rem 5rem rgba(0, 0 , 0, .5);
    margin: 3rem;   
}

.box-container .box i {
    height: 0rem;
    width: 30%;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 1.2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    color: #9c27b0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #16152e;
}

.price {
    background: url(costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background: #262444;
}


.contact {
    padding-top: 20px;
    background: #16152e;
    padding-bottom: 0;
}
}
/*
@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 50vh;
    }

    .navbar {
        display: none;
    }
   
    
}
*/

/* Estilos para pantallas medianas */
@media screen and (max-width: 1199px) {
    /* Estilos para el encabezado */

    *{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      background: #262444;
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #262444;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .navbar a {
        display: block;
        padding: 20px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
    }
    
    .navbar a:hover {
        background: #262444;
      }

    .logo {
        margin-left: 30px;
      }
      
      .logo a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh !important;
        background: url(Imagen5.png) no-repeat center;
        background-size: cover; 
      }

      .title {
        margin-bottom: 10px;
        font-size: 50px;
        font-weight: 50;
       /* text-transform: uppercase;*/
        justify-content: center;
        color: #fff;
      }

      p {
        margin-bottom: 40px;
        font-size: 18px;
        color: #fff;
        padding: 0;
        justify-content: end;
      }

      .btn {
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        border: 2px solid #9c27b0;
        color: #fff;
        text-decoration: none;
        background: #9c27b0;
        justify-items: baseline;
      }

      
    .menu-icon {
      font-size: 2rem;
      cursor: pointer;
    }
    
    /* Estilos para el contenido principal */
    .content {
      padding: 2rem;
      font-size: 1.2rem;
    }

    
    .title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

    justify-content: center;
  }
  
  .content h3 {
    margin-bottom: 40px;
    font-size: 28px;
    color: rgb(173, 168, 168);

    justify-content: center;
  }
    
    /* Estilos para la sección de registro */
    .reg {
        padding: 30px;
        background: #16152e;
    }
    form {
      margin-top: 1.5rem;
    }
    label {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    input[type="text"],
    input[type="email"]{ 
      width: 100%;
  }


   /* Estilos para la sección de tabla de contenidos */

   .sau {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    background: #262444;
  }

  .contenido-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    flex-direction: row;
    align-items: center;
  }
  .container img {
    margin-left: auto;
    margin-right: 50px;
    max-width: 50%;
    object-fit: cover;
}

.container .content {
    max-width: 100%;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.container p {
    font-size: 1.2em;
}

.mi-footer {
    background-color: #262444;
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  .texto-sobre-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .container h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.container p {
    font-size: 1.2em;
}


.box-container .box {

    background: #262444;
    text-align: center;
  }
  
  .box-container .box i {
    height: 0rem;
    width: 30%;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 1.2rem;
    margin: 1rem 0;
  
  }

  .box-container .box h3 {
    text-align: center;
    font-size: 2.0rem;
    color: #9c27b0;
  
  }
  
  .box-container .box p {
    padding: 0 15px;
    font-size: 16px;
  }
  
  .about {
    background: #16152e;
  }

  .price {
    background: url(costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background: #262444;
  }

  .contact {
    padding-top: 20px;
    background: #16152e;
    padding-bottom: 0;
  }
}



